---
import Badge from "../Badge.astro";
import type { SkillCategory } from "../../resume-schema";

interface Props {
  skills: SkillCategory[];
}

const { skills } = Astro.props;
---

{
  skills.length && (
    <div class="space-y-2 text-sm sm:text-base">
      {skills.map((group) => (
        <div class="flex flex-wrap items-baseline gap-2">
          {group.skills.map((skill) => (
            <Badge color={group.color}>{skill}</Badge>
          ))}
        </div>
      ))}
    </div>
  )
}
