---
import Layout from "../layouts/Layout.astro";
import PhilTest from "../components/PhilTest";
---

<Layout title="Phillip Dupuis" description="Phillip Dupuis, Software Engineer">
  <main>
    <PhilTest client:load />
  </main>
</Layout>
