---
import { Image } from "astro:assets";

import Layout from "../layouts/Layout.astro";

// import imageOne from "../images/IMG_3135.JPG";
---

<Layout title="Phillip Dupuis" description="Phillip Dupuis, Software Engineer">
  <main>
    <!-- Penny time -->
    <div class="w-3/4 max-w-80 mx-auto rounded-full mt-8">
      <img
        src="/rbf.jpg"
        alt="Profile picture"
        class="object-contain w-full h-full overflow-hidden rounded-full border-4 border-primary"
      />
    </div>
    <!-- Actual content  -->
    <div class="text-center text-xl text-primary mt-4">
      <p>Real content will be added soon!</p>
      <p>And by that I mean some posts about interesting tech projects.</p>
      <p>And some pictures of birds/other animals.</p>
      <p>But they're good pictures. I promise.</p>
    </div>
  </main>
</Layout>
