---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
---

<Layout title="Phillip Dupuis" description="Phillip Dupuis, Software Engineer">
  <Nav />
  <main>
    <!-- Penny time -->
    <div class="w-3/4 max-w-80 mx-auto rounded-full mt-8">
      <img
        src="/rbf.jpg"
        alt="Profile picture"
        class="object-contain w-full h-full overflow-hidden rounded-full border-4 border-green-600"
      />
    </div>
    <!-- Actual content  -->
  </main>
</Layout>
