---
import DarkModeButton from "./DarkModeButton.astro";

interface NavItem {
  label: string;
  path: `/${string}`;
}

interface Props {
  navItems?: NavItem[];
}

const DEFAULT_NAV_ITEMS = [
  { label: "Resume", path: "/resume" },
  { label: "Projects", path: "/projects" },
];

const { navItems = DEFAULT_NAV_ITEMS } = Astro.props;

// Get current path for active state
const currentPath = Astro.url.pathname;
---

<nav
  id="nav"
  class="w-full py-6 px-4 md:px-8 border-b-2 border-primary text-primary"
>
  <div
    class="max-w-7xl mx-auto flex flex-col sm:flex-row justify-between items-center"
  >
    <!-- Logo/Name Section -->
    <div class="mb-4 sm:mb-0">
      <a
        href="/"
        class="text-2xl font-mono font-medium hover:brightness-125 transition-colors"
      >
        Phillip Dupuis
      </a>
    </div>
    <!-- Navigation Links and Buttons -->
    <div class="flex items-center gap-8">
      {
        navItems.map((item) => (
          <a
            href={item.path}
            class:list={[
              "text-base font-mono font-medium hover:brightness-125 transition-colors",
              { underline: currentPath === item.path },
            ]}
          >
            {item.label}
          </a>
        ))
      }
      <DarkModeButton />
    </div>
  </div>
</nav>
