---
import type { SkillGroup } from "../resume/schema";

interface Props {
  skills: SkillGroup[];
}

const { skills } = Astro.props;
---

<div class="space-y-1 text-sm sm:text-base">
  {
    skills.map((group) => (
      <div class="flex flex-wrap items-baseline gap-x-2">
        <div class="text-primary brightness-75 flex items-center gap-x-2 font-semibold">
          <h3>{group.category}:</h3>
        </div>
        <p>
          {group.skills.map((skill, index) => (
            <span>
              <span
                class={skill.details ? "relative cursor-help" : "relative"}
                title={skill.details}
              >
                {skill.name + (index < group.skills.length - 1 ? ", " : "")}
                {skill.details && (
                  <span class="hidden group-hover:block absolute bottom-full left-0 mb-2 p-2 w-64 bg-neutral-800 text-sm rounded shadow-lg z-10">
                    {skill.details}
                  </span>
                )}
              </span>
            </span>
          ))}
        </p>
      </div>
    ))
  }
</div>
