---
import type { Project } from "../content/resume";

interface Props {
  projects: Project[];
}

const { projects } = Astro.props;
---

<div class="space-y-4 text-sm sm:text-base">
  {
    projects.map((project) => (
      <section class="space-y-2">
        <div class="flex justify-between items-baseline text-green-600 flex-wrap">
          <h3 class="font-semibold">{project.title}</h3>
          {project.githubUrl && (
            <a
              href={project.githubUrl}
              target="_blank"
              class="hover:underline hover:brightness-125"
            >
              {project.githubUrl}
            </a>
          )}
        </div>
        <p class="whitespace-pre-line">{project.description}</p>
      </section>
    ))
  }
</div>
