---
import { Icon } from "astro-icon/components";
---

<button id="set-theme-light" class="hover:brightness-125 transition-colors p-2">
  <Icon name="sun" class="text-primary" />
</button>
<button
  id="set-theme-dark"
  class="dark:hidden hover:brightness-125 transition-colors p-2"
>
  <Icon name="moon" class="text-primary" />
</button>

<script>
  const setTheme = (theme: "dark" | "light", save = false) => {
    document.documentElement.classList.toggle("dark", theme === "dark");
    document
      .getElementById("set-theme-light")!
      .classList.toggle("hidden", theme === "light");
    if (save) localStorage.setItem("theme", theme);
  };
  document
    .getElementById("set-theme-light")!
    .addEventListener("click", () => setTheme("light", true));
  document
    .getElementById("set-theme-dark")!
    .addEventListener("click", () => setTheme("dark", true));
  const savedTheme = localStorage.getItem("theme");
  const systemTheme = window.matchMedia("(prefers-color-scheme: dark)").matches
    ? "dark"
    : "light";
  setTheme(
    savedTheme === "dark" || savedTheme === "light" ? savedTheme : systemTheme,
    false
  );
</script>
